# Application
APP_SECRET=

APP_API_URL=http://localhost
APP_API_PORT=3333
APP_WEB_URL=http://localhost:3000

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-west-1

#Storage (disk on development or s3 on production)
STORAGE_DRIVER=disk

# Mail (ethereal on development or ses on production)
MAIL_DRIVER=ethereal

# Postgresql
POSGRESQL_USER=postgres
POSTGRESQL_PASS=docker
POSTGRESQL_DB=gobarber

# Postgresql
MONGODB_USER=mongo
MONGODB_PASS=docker
MONGODB_DB=gobarber

# Redis
REDIS_HOST=gobarber-redis
REDIS_PASS=docker
